button {
    width: 120px;

    background-color: #1C76D5;
    outline: none;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    padding: 11px 20px;

    cursor:pointer;

    /* Remove ugly default stylings */
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

button:focus {
    outline: none;
}

i.fas.fa-search {
    margin-right: 5px;
}

@media only screen and (max-width: 600px) {
    .search-btn-text {
        display: none;
    }

    button {
        width: 50px;
        padding:11px 0px;
    }

    i.fas.fa-search { 
        margin-right: 0;
    }
}